input {
  border-radius: 4px;
  height: 16px;
  outline: none;
  padding: 16px;
  text-align: center;
}

button {
  border-radius: 4px;
  outline: none;
  background-color: #cccccc;
}

.App {
  text-align: center;
}
